{% extends 'todo/default.html' %}
{% load static %}
{% block content %}
<style>
	.content{
		width:600px;
		margin: 30px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

    h5 {
        margin-top: -10px;
    }

    .element {
        margin-top:-20px;
    }

    .create {
        font-size: 20px;
    }

    .loginButton {
        text-align:right;
        position: absolute;
        right: 640px;
        top: 310px;
    }

    .login {
        margin-bottom: -10px;
    }

    .titleUl {
    border-top: 2px solid black;
    margin-bottom: 0px;
  }
</style>

<div class="content">
    <h1 class="login"> Login </h1>
    <hr class="titleUl">
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username...">
        <br>
        <br>
        <input type="password" name="password" placeholder="Password...">
        <br>
        <br>
        <input class="create btn btn-dark btn-sm" type="submit" value="Log In">
    </form>
    <hr>
    <div class="loginButton">
        <h6>Don't have an account? <a href="{% url 'register' %}">Register Now</a> </h6> 
    </div>
    {% for message in messages %}
    <p>{{message}}</p>
{% endfor %}
</div>

{% endblock %}