{% extends 'todo/default.html' %}
{% load static %}
{% block content %}
<style>
  .content{
		width:700px;
		margin: 40px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

  #item {
    background-color:rgb(194, 194, 194);
		margin: 20px;
		padding: 20px;
		border-radius: 3px;
		color: black;
		font-size: 18px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
  }

  h4 {
    padding-top: 20px;
  }

  h1 {
    text-align:center;
    position: relative;
    left: -20px;
    margin-bottom: -10px;
  }

  .create {
    border-radius: 50%;
    position: relative;
    left: 600px;
    top: -12px;
  }

  .desc {
    margin-bottom: -3px;
  }

  .edit {
    margin-top: 10px;
  }

  .title {
    margin-top: -9px;
  }
  
  .header {
    margin-bottom: -30px;
  }


</style>
<div class="content">
      <div class="header">
        <h1>Your To-Do List</h1>
      </div>
        <a class="create btn btn-dark btn-large" href="{% url 'add_Todo' %}">+</a>
        {% for todoItem in todo_items %}
        <div id="item" class="">
          <p class="h3 title">{{todoItem.name}}</p>
          {% if todoItem.content != null %}
            <p class="desc">Notes: {{todoItem.content}}</p>
          {% endif %}
          {% if todoItem.date != null %}
            <p class="desc">Date: {{todoItem.date}}</p>
          {% endif %}
          {% if todoItem.time != null %}
            <p class="desc">Time: {{todoItem.time}}</p>
          {% endif %}
          <div class="edit">
            <a class="btn btn-dark btn-sm" href="{% url 'update_Todo' todoItem.id %}">Update</a>
            <a class="btn btn-dark btn-sm" href="{% url 'delete_Todo' todoItem.id %}">Delete</a>
          </div>
        </div>
        {% endfor %}
</div>
{% endblock %}